<%- include("../header"); %>

<div class="w3-container w3-col m6 ">

    <h2>Agregar producto</h2>
    <form method="post" action="/productos/insertar">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input required id="nombre" placeholder="Nombre del producto" class="w3-input" type="text" name="nombre"
                autocomplete="off">
        </div>

        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="precio">Cantidad</label>
                <input required id="cantidad" placeholder=" " class="w3-input" type="number" name="cantidad">
            </div>
            <div class="col-sm-4">
                <div class="form-group ">
                    <label for="inputState">Unidad</label>
                    <select id="inputState" class="w3-select" id="und" name="und">
                        <option selected>Choose...</option>
                        <option value="1">Unidad</option>
                        <option value="2">Kilo</option>
                        <option value="3">Bulto</option>
                        <option value="4">Galon</option>
                        <option value="5">Metro</option>
                        <option value="6">Rollo</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3 col-sm-4">
                <div class="form-group">
                    <label for="precio">Precio costo</label>
                    <input required id="costo" placeholder="Precio del producto" class="w3-input" type="number"
                        name="costo" onkeyup="precioVenta()">
                </div>
            </div>
            <div class="col-sm-3 col-sm-4">
                <div class="form-group">
                    <label for="precio">Precio Venta</label>
                    <input required id="precio" value="0" class="w3-input" type="number"
                        name="precio">
                </div>
            </div>
        </div>
        <input type="text" value="0" hidden>
        <br>
        <div class="form-group">
            <button class="w3-btn w3-button w3-green">Guardar</button>
            &nbsp;<a href="/productos" class="w3-btn ">Volver</a>
        </div>
    </form>
</div>
<%- include("../footer"); %>

